<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649608205613-ha2752r44drovb7bptks2evv12b1b6sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649608205613-ha2752r44drovb7bptks2evv12b1b6sq</string>
	<key>API_KEY</key>
	<string>AIzaSyBFIzJQzHcPXeB3eyUqK7JAQFf1aZC4pZk</string>
	<key>GCM_SENDER_ID</key>
	<string>649608205613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sickocoder.Navika</string>
	<key>PROJECT_ID</key>
	<string>navika-21980</string>
	<key>STORAGE_BUCKET</key>
	<string>navika-21980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649608205613:ios:2e2c279bb97f159a9d6fa4</string>
</dict>
</plist>