<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.649608205613-ha2752r44drovb7bptks2evv12b1b6sq</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>649608205613-ha2752r44drovb7bptks2evv12b1b6sq.apps.googleusercontent.com</string>
</dict>
</plist>
